/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-bottom: 20px;
}

#logo{
	float:left;
	width: 90px;
	height: 50px;
	margin-left: 50px;
}

#logo img{
	width: 100%;
}

.jumbotron {
	background-image: url('images/background.jpg');
	background-size: cover;
	padding-top: 100px;
}

.box-radius {
	background-color:#090;   /* This color is green*/
	width: 100%;
	padding: 80px;
	border-radius: 100%;
	text-align: center;
	margin-bottom: 10px
}

.box-radius.blue {
	background: blue;
}


.box-radius.green {
	background: #009900;
}

.box-radius.orange {
	background: orange;
}



.box-radius img {
	width: 100%;
}

.box-radius span {
	font-size: 30px;
	color: white;
}


.pink-hr {
	margin-bottom: 20px;
	border-color: #000;
}


.item img {
width: 100%;
}

nav{
    background:#00375e;
}
.navbar{
	min-height: 90px;
}

h3, p {
    color: #16507c;
    text-align: center;
}

.form{
    max-width: 20%;
    margin: 0 auto;
    border: 0.5px solid white;
}

.seminar_form{
    background: #aab6c4;
}

.form-group{
    width: 40%;
    margin: 0 auto;
}

.footer{
    background:#000000;
    margin-top: 3%;
}








@media (max-width: 480px)
{
	.box-radius span {
	font-size: 25px;
	color: Red;}


}